Package: com.mdallak.MJKaman
Name: MJ Kaman
Version: 4.0
Architecture: iphoneos-arm
Depends: com.bytafont.bytafont3
Depiction: http://mdallak.github.io/depic/index.html?p=MJKaman
Maintainer: M Dallak <M_Dallak@outlook.com>
Author: M Dallak <M_Dallak@outlook.com>
Section: Fonts (BytaFont Tweak Mode)
Description: Fonts for BytaFont 3 by M_Dallak

